extends wiki
block content
  div(id='tool')
    nav.menu
      a.menu-item.selected(href='#', onclick='return false') 역사
      a.menu-item(href='/h/' + title2) 목록
  h1.titlee= title
  h2.titlee!= '<span style="margin-left:5px"></span>(R' + id + ')'
  div!= content
